@font-face {
    font-family: 'RobotoMono';
    src: url(./fonts/Roboto-Thin.ttf);
}

* {
    font-family: 'RobotoMono', monospace;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #fff;
    background: linear-gradient(111.4deg, rgb(7, 7, 9) 6.5%, rgb(27, 24, 113) 93.2%);
}